---
import { render, getCollection } from "astro:content";

// layouts
import PageLayout from "@/layouts/PageLayout.astro";

export async function getStaticPaths() {
  const [posts, art, notes, recipes] = await Promise.all([
    getCollection("posts"),
    getCollection("art"),
    getCollection("notes"),
    getCollection("recipes"),
  ]);

  // Combine all collections into one array
  const allContent = [...posts, ...art, ...notes, ...recipes];

  // Filter entries to ensure they have path and slug
  const entries = allContent
    .filter((entry) => entry.data.frontmatter?.path && entry.data.frontmatter?.slug)
    .map((entry) => ({
      params: { path: entry.data.frontmatter.path, slug: entry.data.frontmatter.slug },
      props: {
        entry: {
          ...entry,
        },
      },
    }));

  return entries;
}

const { path } = Astro.params;
const { entry } = Astro.props;

const { Content } = await render(entry);
---

<PageLayout title={entry.data.frontmatter.title} path={path}>
  <aside></aside>
  <section>
    <div class='breadcrumb'>
      <h3 class='capitalize'><a href={`/${entry.data.frontmatter.path}`}>{entry.data.frontmatter.path}</a></h3>
    </div>
    <div class='header'>
      <h1>{entry.data.frontmatter.title}</h1>
      <p>
        Published {new Date(entry.data.frontmatter.created).toLocaleDateString()}.
        {
          new Date(entry.data.frontmatter.updated).getTime() - new Date(entry.data.frontmatter.created).getTime() >
            24 * 60 * 60 * 1000 && `Last updated ${new Date(entry.data.frontmatter.updated).toLocaleDateString()}.`
        }
      </p>
      <div class='tags'>
        {entry.data.frontmatter.tags.map((tag: any) => <span>#{tag}</span>)}
      </div>
    </div>
    <article>
      <Content />
    </article>
  </section>
</PageLayout>

<style>
  .breadcrumb {
    padding: var(--padding);
  }

  .header {
    padding: var(--padding);
    border-bottom: var(--border);
  }

  article {
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 800px;
  }

  article > :global(pre) {
    max-width: calc(100vw - 4rem);
  }

  article :global(a) {
    word-break: break-all;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
</style>
