---
export const prerender = true;
import Layout from "@layouts/Layout.astro";
import { getObsidianEntries } from "@lib/github";

export async function getStaticPaths() {
  const contentTypes = ["posts", "recipes", "notes" /* add other content types here */];

  const paths = await Promise.all(
    contentTypes.map(async (contentType) => {
      let entries = await getObsidianEntries(contentType);

      // Sort entries based on the 'created' field
      entries = entries.sort(
        (a, b) => new Date(b.frontmatter.created).getTime() - new Date(a.frontmatter.created).getTime()
      );

      return {
        params: { content: contentType },
        props: { entries },
      };
    })
  );

  return paths;
}

const { content } = Astro.params;
const { entries } = Astro.props;
---

<Layout>
  <main>
    <h1>{content}</h1>
    <ul>
      {
        entries.map((entry) => (
          <li>
            <h1>
              <a href={`/${content}/${entry.frontmatter.slug}`}>{entry.frontmatter.title}</a>
            </h1>
            <p>
              <small>{entry.frontmatter.created}</small>
            </p>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  h1 {
    font-size: var(--fs-h2);
  }

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  @media (max-width: 768px) {
    ul {
      gap: 1.5rem;
    }
  }

  @media (max-width: 480px) {
    ul {
      gap: 1rem;
    }
  }
</style>
