---
// layout
import PageLayout from "@/layouts/PageLayout.astro";

// content
import { getCollection } from "astro:content";

const tags = await getCollection("tags");
---

<PageLayout path='Tags'>
  <main>
    <h1>Tags</h1>
    {
      tags.map((tag) => (
        <div class='tag'>
          <h3>
            <a href={`/tags/${tag.data.tag}/`}>{tag.data.tag}</a>
          </h3>
          {tag.data.entries.map((entry) => (
            <a href={`/${entry.path}/${entry.slug}/`}>{entry.title}</a>
          ))}
        </div>
      ))
    }
  </main>
</PageLayout>

<style>
  main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 350px), 1fr));
    min-height: calc(100vh - var(--nav-height) - var(--footer-height) - 4px);
    overflow: hidden;
    align-content: start;
    align-items: start;
    gap: 1px;
  }

  main > :global(*):not(.glass-content) {
    aspect-ratio: 6/7;
    min-height: 0;
    min-width: 0;
    outline: var(--border);
    padding: var(--padding);
    @media (max-width: 768px) {
      /* &:first-child {
          aspect-ratio: unset;
        } */
      aspect-ratio: 7/6;
    }
  }

  .tag {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
</style>
