---
// layout
import PageLayout from "@/layouts/PageLayout.astro";

// content
import { getCollection } from "astro:content";

const tags = await getCollection("tags");
---

<PageLayout path='Tags'>
  <div class='grid'>
    <div class='meta'>
      <h1>Tags</h1>
    </div>
    <div class='tags-grid'>
      {
        tags.map((tag) => (
          <div class='tag'>
            <h5>
              <a href={`/tags/${tag.data.tag}/`}>{tag.data.tag}</a>
            </h5>
            {/* {tag.data.entries.map((entry) => (
              <a href={`/${entry.path}/${entry.slug}/`}>{entry.title}</a>
            ))} */}
            <p class='small'>
              {tag.data.entries.length} {tag.data.entries.length === 1 ? "post" : "posts"}
            </p>
          </div>
        ))
      }
    </div>
  </div>
</PageLayout>

<style>
  .grid {
    display: grid;
    grid-template-columns: calc(var(--meta-column) - var(--aside-width)) 1fr;

    position: relative;
    min-height: calc(100vh - var(--nav-height) - var(--footer-height) - 4px);
  }

  .tags-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    align-content: start;
    @media (max-width: 768px) {
      gap: 4rem;
    }
  }

  .tags-grid > div {
    padding: 1rem;

    @media (max-width: 768px) {
      padding: 0;
    }
  }

  .meta {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: fit-content;
    align-self: start;
    height: 100%;
    max-height: calc(100vh - var(--nav-height) - var(--footer-height));
    overflow-y: auto;

    padding: 1rem;
  }

  @media (max-width: 768px) {
    .grid {
      grid-template-columns: 1fr;
    }

    .tags-grid {
      padding: 16px;
    }
  }
</style>
