---
import DefaultLayout from "@layouts/defaultLayouts.astro";
import SocialFeeds from "@components/SocialFeeds/index.tsx";

const title = "Now - @iammatthias";
const description =
    "Hi, I am Matthias. I'm a photographer turned growth engineer working on the future of the web.";
const ogImage = "/now";

const socialLinks = [
    {
        name: "Bluesky",
        url: "https://bsky.app/profile/iammatthias.com",
        username: "@iammatthias.com",
        blurb: 'I run my own PDS at <a href="farfield.systems">farfield.systems</a>, and am increasingly active. ',
    },
    {
        name: "Glass",
        url: "https://glass.photo/iam",
        username: "@iam",
        blurb: "Glass is a photography-centric platform, and is where I post most of my pictures.",
    },
    {
        name: "Farcaster",
        url: "https://farcaster.xyz/iammatthias",
        username: "@iammatthias",
        blurb: 'Farcaster is a "sufficiently decentralized" social protocol. There are multiple clients, but I use Warpcast.',
    },

    {
        name: "Instagram",
        url: "https://instagram.com/iammatthias",
        username: "@iammatthias",
        blurb: "Not as active as it used to be, I share pictures on Glass these days.",
    },
    {
        name: "Threads",
        url: "https://www.threads.net/@iammatthias",
        username: "@iammatthias",
        blurb: "Mostly inactive.",
    },
    {
        name: "GitHub",
        url: "https://github.com/iammatthias",
        username: "@iammatthias",
        blurb: "Work and side projects.",
    },
    {
        name: "LinkedIn",
        url: "https://linkedin.com/in/iammatthias",
        username: "@iammatthias",
        blurb: "An up-to-date snapshot of my professional career.",
    },
    {
        name: "Mastodon",
        url: "https://mastodon.social/@iammatthias",
        username: "@iammatthias",
        blurb: "I maintain an account, but I am not active.",
    },
    {
        name: "Twitter",
        url: "https://twitter.com/iammatthias",
        username: "@iammatthias",
        blurb: "I maintain an account, but I have deleted almost all content.",
    },
];
---

<DefaultLayout title={title} description={description} ogImage={ogImage}>
    <Fragment slot="main">
        <section>
            <h1>Now</h1>
            <p>A short list of things I'm working on:</p>
            <ul>
                <li>DevRel @ pinata</li>
                <li>Building <a href="https://llm-txt.fun">LLM TXT</a></li>
                <li>Building <a href="https://manifest.page">Manifest</a></li>
                <li>
                    Cooking - check out my collection of <a href="/recipes"
                        >recipes</a
                    >
                </li>
            </ul>
            <p class="muted">Last updated January 3rd, 2026</p>
        </section>
        <section>
            <h3>Updates</h3>
            <SocialFeeds client:load limit={5} />
        </section>
        <section>
            <h2>Find me online</h2>
            <ul>
                {
                    socialLinks.map((link) => (
                        <li>
                            <>
                                <a href={link.url}>
                                    {link.name}{" "}
                                    <span class="username">
                                        {link.username}
                                    </span>
                                </a>
                                <br />
                            </>
                            <small>{link.blurb}</small>
                        </li>
                    ))
                }
            </ul>
        </section>
    </Fragment>
</DefaultLayout>

<style>
    section {
        padding: 2rem;
        @media (max-width: 768px) {
            padding: 1rem;
        }
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: fit-content;
    }

    h1 {
        margin: 0;
        font-size: 1.5rem;
    }
</style>
