---
import DefaultLayout from "@layouts/defaultLayouts.astro";

const resumeData = [
  {
    section: "Present",
    entries: [
      {
        date: "2025 ➵ Current",
        company: "Pinata",
        position: "DevRel",
      },
      {
        date: "2024 ➵ Current",
        company: "day---break",
        position: "Owner",
      },
      {
        date: "2012 ➵ Current",
        company: "Photographer",
        position: "Fine art & freelance",
      },
    ],
  },
  {
    section: "Historic",
    entries: [
      {
        date: "2023 ➵ 2024",
        company: "Ice Barrel (Contractor)",
        position: "Web Development & Performance Marketing Manager",
      },
      {
        date: "2022 ➵ 2024",
        company: "Opul (Contractor)",
        position: "Design System Engineer",
      },
      {
        date: "2021 ➵ 2022",
        company: "Tornado",
        position: "Growth Engineer",
      },
      {
        date: "2018 ➵ 2021",
        company: "Aspiration",
        position: "CRM Architect",
      },
      {
        date: "2016 ➵ 2018",
        company: "Surf Air",
        position: "Product & Marketing Coordinator",
      },
    ],
  },

  {
    section: "Education",
    entries: [
      {
        date: "2010 ➵ 2014",
        company: "Brooks Institute",
        position: "Bachelors Degree, Commercial Photography",
      },
    ],
  },
];

const title = "Resume - @iammatthias";
const description = "Professional experience and education history";
const ogImage = "/resume";
---

<DefaultLayout title={title} description={description} ogImage={ogImage}>
  <Fragment slot='main'>
    {
      resumeData.map((section) => (
        <section>
          <h1>{section.section}</h1>
          {section.entries.map((entry) => (
            <div>
              <h2>{entry.company}</h2>
              <p>
                <strong>{entry.position}</strong>
              </p>
              <p>{entry.date}</p>
            </div>
          ))}
        </section>
      ))
    }
  </Fragment>
</DefaultLayout>

<style>
  section {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: fit-content;
    min-height: calc(50vh - 5rem);
  }

  section > * {
    max-width: 64ch;
    word-wrap: pretty;
  }

  #social li {
    border-bottom: 1px solid var(--color-border);
    padding-bottom: 1rem;
  }

  #social li:last-child {
    border-bottom: none;
  }

  #social li a {
    text-decoration: none;
    color: inherit;
    font-weight: 700;
  }

  #social li a:hover {
    text-decoration: underline;
  }

  .username {
    font-weight: 400;
    color: var(--color-muted);
  }
</style>
