---
import { Image } from "astro:assets";

interface Post {
  image640x640: string;
  description: string;
  friendly_id: string;
  share_url: string;
  width: number;
  height: number;
}

const { limit, offset } = Astro.props;

const response = await fetch(
  `https://glass.photo/api/v2/users/iam/posts?limit=${limit ? limit : 5}&offset=${offset ? offset : 0}`
);
const data = await response.json();

const posts = data.map((post: Post) => {
  const { image640x640, description, friendly_id, share_url, width, height } = post;
  return { image640x640, description, friendly_id, share_url, width, height };
});
---

<div class='masonry' x-data x-masonry>
  {
    posts.map((post: Post) => (
      <a
        href={post.share_url}
        target='_blank'
        rel='noopener noreferrer'
        class='masonry-item'
        title={post.friendly_id}
        aria-label={post.friendly_id}>
        <Image src={post.image640x640} alt={post.description} width={post.width} height={post.height} />
      </a>
    ))
  }
</div>

<script>
  import Alpine from "alpinejs";
  import masonry from "alpinejs-masonry";

  Alpine.plugin(masonry);
</script>

<style>
  a {
    text-decoration: none;
    border: none;
  }

  img {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    border: 1px solid var(--foreground);
    border-radius: 1rem;

    box-shadow:
      0px 10px 15px -3px rgba(0, 0, 0, 0.1),
      0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  }

  .masonry-item {
    display: block;
    margin-bottom: 0;
  }

  .masonry {
    display: grid;
    grid-gap: 2rem;
    align-items: flex-start;
    img {
      width: 100%;
      height: auto;
      display: block;
      border: 1px solid #1a1a1a;
      border-radius: 1rem;
    }
  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    .masonry {
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }
  }

  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) and (max-width: 991px) {
    .masonry {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .masonry-item:nth-child(4),
    .masonry-item:nth-child(5) {
      display: none;
    }
  }

  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) and (max-width: 767px) {
    .masonry {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .masonry-item:nth-child(3),
    .masonry-item:nth-child(4),
    .masonry-item:nth-child(5) {
      display: none;
    }
  }

  /* Extra small devices (portrait phones, less than 576px) */
  @media (max-width: 575px) {
    .masonry {
      grid-template-columns: repeat(1, minmax(0, 1fr));
      grid-gap: 2rem;
    }
    .masonry-item:nth-child(2),
    .masonry-item:nth-child(3),
    .masonry-item:nth-child(4),
    .masonry-item:nth-child(5) {
      display: none;
    }

    .masonry-item {
      margin-bottom: 0;
    }
  }
</style>
