---

---

<div class='share-button__wrapper'>
  <p>Share on</p>
  <button
    class='share-button'
    data-platform='twitter'
    data-url='https://twitter.com/intent/tweet?text={text}&url={url}'
  >
    Twitter
  </button>
  <button
    class='share-button'
    data-platform='warpcast'
    data-url='https://warpcast.com/~/compose?text={text}&embeds[]={url}'
  >
    Warpcast
  </button>
  <button
    class='share-button'
    data-platform='threads'
    data-url='https://www.threads.net/intent/post?text={text}%20{url}'
  >
    Threads
  </button>
</div>

<style>
  .share-button__wrapper {
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .share-button__wrapper p {
    font-weight: bold;
    font-style: italic;
    width: 100%;
  }

  .share-button {
    width: fit-content;
    padding: 0.5rem 1rem;
    border: 1px solid var(--foreground);
    border-radius: 1.5rem;
    background: unset;
    color: var(--foreground);
    text-align: left;
    z-index: 100;
    box-shadow: var(--smooth-shadow);
    pointer-events: auto;
    isolation: isolate;
    backdrop-filter: blur(10px);
    cursor: pointer;
    transition:
      background-color 0.3s,
      color 0.3s;
  }

  .share-button:hover {
    background-color: var(--foreground);
    color: var(--background);
  }
</style>

<script>
  import { track } from "@lib/analytics";

  document.addEventListener(
    "astro:page-load",
    () => {
      function openShareWindow(url) {
        window.open(url, "_blank", "width=550,height=280");
      }

      function getShareUrl(button, text, url) {
        let shareUrlTemplate = button.getAttribute("data-url");

        // Replace placeholders with actual values
        shareUrlTemplate = shareUrlTemplate.replace("{text}", text).replace("{url}", encodeURIComponent(url));

        return shareUrlTemplate;
      }

      function handleShareClick(event) {
        const button = event.currentTarget;
        const title = document.title.split(" | ")[0];
        const text = encodeURIComponent(`Check out "${title}" from @iammatthias`);
        const url = window.location.href;

        const shareUrl = getShareUrl(button, text, url);
        openShareWindow(shareUrl);

        // Call track function here

        track("addEvent", {
          eventName: "share",
          properties: { platform: button.getAttribute("data-platform"), url: window.location.href },
        });
      }

      document.querySelectorAll(".share-button").forEach((button) => {
        button.addEventListener("click", handleShareClick);
      });
    },
    { once: true }
  );
</script>
