---
import Layout from "@layouts/layout.astro";
import { getObsidianEntries } from "@lib/github";

const { path } = Astro.params;

const paths = ["art", "posts", "recipes", "notes" /* add other content types here */];

if (!path || !paths.includes(path)) {
  return (
    {
      status: 404,
      error: "Content type not found",
    },
    Astro.redirect("/404")
  );
}

let entries = await getObsidianEntries(path);

if (!entries || entries.length === 0) {
  return (
    {
      status: 404,
      error: "Entries not found",
    },
    Astro.redirect("/404")
  );
}

// Sort entries based on the 'created' field
entries = entries.sort((a, b) => new Date(b.frontmatter.created).getTime() - new Date(a.frontmatter.created).getTime());

// Filter out entries where frontmatter.published is false only in production
if (process.env.NODE_ENV === "production") {
  entries = entries.filter((entry) => entry.frontmatter.published !== false);
}
---

<Layout>
  <main>
    <h1>{path}</h1>
    <ul>
      {
        entries.map((entry) => (
          <li>
            <h2>
              <a href={`/${path}/${entry.frontmatter.slug}`}>{entry.frontmatter.title}</a>
            </h2>
            {entry.frontmatter.tags && entry.frontmatter.tags.length > 0 && (
              <div class='tags'>
                {entry.frontmatter.tags.map((tag: string) => (
                  <span>
                    <small>
                      <a href={`/tags/${tag}`}>#{tag}</a>
                    </small>
                  </span>
                ))}
              </div>
            )}
            <p>
              <small>{entry.frontmatter.created}</small>
            </p>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  h1 {
    text-transform: capitalize;
  }
  h2 {
    font-size: var(--fs-h2);
  }

  h2 a {
    color: var(--color-text);
    border: none;
  }

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  @media (max-width: 768px) {
    ul {
      gap: 1.5rem;
    }
  }

  @media (max-width: 480px) {
    ul {
      gap: 1rem;
    }
  }

  .tags {
    display: flex;
    gap: 0.5rem;
  }
</style>
