---
import "@fontsource-variable/kalnia/wdth.css";
import { SEO } from "astro-seo";
import { ViewTransitions } from "astro:transitions";
import Ascii from "@components/ascii.astro";
import Navigation from "@components/navigation.astro";
import HomepageHero from "@components/homepage-hero.astro";
import Footer from "@components/footer.astro";

// import Footer from "@components/footer.astro";

import "@styles/reset.css";
import "@styles/typography.css";
import "@styles/global.css";

interface Props {
  title?: string;
  path?: string;
}

const { title, path } = Astro.props;

let seoTitle = "@iammatthias";
if (title || path) {
  seoTitle = "";
  if (title) {
    seoTitle += `${title} | `;
  }
  if (path) {
    seoTitle += `${path.charAt(0).toUpperCase() + path.slice(1)} | `;
  }
  seoTitle += "@iammatthias";
}

const base_url = Astro.url.origin;

let seoImage = `${base_url}/api/og.png`;

if (title || path) {
  if (path) {
    seoImage = `${base_url}/api/og-${path}.png`;
  }
  if (title && path) {
    seoImage = `${base_url}/api/og-${path}-${encodeURIComponent(title)}.png`;
  }
}
---

<Ascii />
<html lang='en'>
  <head>
    <SEO
      charset='UTF-8'
      title={seoTitle}
      description='A digital garden where photographs, recipes, and thoughts can grow.'
      openGraph={{
        basic: {
          title: seoTitle,
          type: "website",
          image: seoImage,
        },
        optional: {
          description: "A digital garden where photographs, recipes, and thoughts can grow.",
        },
      }}
      twitter={{
        creator: "@iammatthias",
        card: "summary_large_image",
        image: seoImage,
        title: seoTitle,
        description: "A digital garden where photographs, recipes, and thoughts can grow.",
      }}
      extend={{
        link: [
          {
            rel: "icon",
            href: "data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🌞</text></svg>",
          },

          {
            rel: "sitemap",
            type: "application/xml",
            href: "/sitemap.xml",
          },
        ],
        meta: [
          {
            name: "viewport",
            content: "width=device-width, initial-scale=1",
          },
          {
            name: "generator",
            content: "Astro",
          },
        ],
      }}
    />
    <ViewTransitions />
  </head>
  <body>
    <main class=`grid ${Astro.url.pathname === "/" ? "homepage-grid" : "page-grid"}`>
      <section class='content'>
        <Navigation />
        <slot />
      </section>
      {Astro.url.pathname === "/" && <HomepageHero />}
    </main>
    <Footer />
  </body>
</html>

<script type='module'>
  import { initializeSession } from "/src/lib/session.ts";
  import { processOutboundLinks } from "/src/lib/attribution.ts";

  document.addEventListener("astro:page-load", () => {
    initializeSession();
    processOutboundLinks();
  });
</script>

<style>
  body {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: 0 auto;
    min-height: 100vh;
    gap: 2rem;
    padding: 8rem;
    @media (max-width: 1999px) {
      padding: 4rem;
    }
    @media (max-width: 768px) {
      padding: 2rem;
    }
  }
  .grid {
    flex: 1;
    display: grid;
    grid-auto-rows: auto;
    gap: 8rem;

    @media (max-width: 1999px) {
      gap: 4rem;
    }
    @media (max-width: 899px) {
      gap: 2rem;
    }
    @media (max-width: 768px) {
      min-height: unset;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .homepage-grid {
    grid-template-columns: 1fr 1.5fr;
    @media (max-width: 1999px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 899px) {
      display: flex;
      flex-direction: column;
    }
  }

  .page-grid {
    grid-template-columns: 1fr;
    width: 100%;
  }
</style>
